body {

background-color: rgb(255, 255, 255);
}


td{
border-radius: 15%;

}


.sidebar{

    background-color: #f1f1f1;
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    flex-direction: column;
    display: flex;
    box-shadow: 2px 2px 0 rgba(69, 68, 94, 0.2);
    text-align: center;
    justify-content: space-around;
}

.bottomsection{
    text-align: center;
    justify-content:center;
    align-items:flex-end;
    margin: 0px;
    flex-grow: 1;
    width: 85vw;

}



.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
 
    margin: 10px;
}

.in-row {
    display: inline-block;
}


/* .chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    float: left;
} */


.margin-adjust {
    margin-left: 150px;
}

.float-container {

    padding: 20px;
    flex : 1;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid rgba(69, 68, 94, 0.2);
    border-radius: 10px;
}  

/* https://stackoverflow.com/questions/10028182/how-to-make-a-pie-chart-in-css */
.pie {
    width: 250px;
    height: 250px;
    background-image: conic-gradient(orange 64%, blue 64%, blue 81%, black 81%);
    border-radius: 50%
  }

  .jus{
    text-align: center;
  }
  .jus2{
    text-align: right;
  }
  h1{
    text-align: center;
  }

  li {
    list-style-type: none;
  }